NODE_ENV=development
PORT=8000
AUTO_SEED_ON_START=true

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=CEM
DB_USER=
DB_PASS=

JWT_SECRET=
FULL_ACCESS_EMAILS=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:8000
CORS_ORIGIN=http://localhost:5173

MP_ENV=sandbox
MP_TEST_CLIENT_ID=
MP_TEST_CLIENT_SECRET=
MP_TEST_ACCESS_TOKEN=
MP_TEST_PUBLIC_KEY=
MP_TOKEN_ENCRYPTION_KEY=
MP_WEBHOOK_SECRET=
MP_RETORNO_PORT=8443

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=
EMAIL_PASS=
